.DS_Store
.dotnetcli
.idea
.metadata
.settings
.vs
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
bin
Bin
coverage
obj
packages
TestResults
UpgradeLog*.htm
UpgradeLog*.XML
*.DotSettings
*.GhostDoc.xml
*.log
*.nupkg
*.opensdf
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
