.DS_Store
.dotnet
.idea
.metadata
.settings
.vs
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
bin
Bin
coverage
coverage.*
junit.xml
MSBuild_Logs/
obj
packages
TestResults
UpgradeLog*.htm
UpgradeLog*.XML
*.binlog
*.coverage
*.DotSettings
*.GhostDoc.xml
*.log
*.nupkg
!.packages/*.nupkg
*.opensdf
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
