<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Logging.XUnit Rules" Description="This rule set contains rules for the Logging.XUnit solution." ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="SA1100" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1609" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>
