name: moderation

on:
  issues:
    types: [opened]
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]

permissions: {}

jobs:
  spam-detection:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: write
      models: read
      pull-requests: write

    steps:

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
          show-progress: false

      - uses: github/ai-moderator@81159c370785e295c97461ade67d7c33576e9319 # v1.1.4
        with:
          ai-label: 'ai-generated'
          minimize-detected-comments: true
          spam-label: 'spam'
          token: ${{ secrets.GITHUB_TOKEN }}
