name: release

on:
  workflow_dispatch:
    inputs:
      publish:
        description: 'If true, does not create the release as a draft.'
        required: false
        type: boolean
        default: false

permissions: {}

jobs:
  release:
    runs-on: [ ubuntu-latest ]

    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false

    steps:

      - name: Checkout code
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          token: ${{ secrets.COSTELLOBOT_TOKEN }}

      - name: Get version
        id: get-version
        shell: pwsh
        run: |
          $properties = Join-Path "." "Directory.Build.props"
          $xml = [xml](Get-Content $properties)
          $version = $xml.SelectSingleNode('Project/PropertyGroup/VersionPrefix').InnerText
          "version=${version}" >> $env:GITHUB_OUTPUT

      - name: Create release
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        env:
          DRAFT: ${{ inputs.publish != true }}
          VERSION: ${{ steps.get-version.outputs.version }}
        with:
          github-token: ${{ secrets.COSTELLOBOT_TOKEN }}
          script: |
            const { repo, owner } = context.repo;
            const draft = process.env.DRAFT === 'true';
            const version = process.env.VERSION;
            const tag_name = `v${version}`;
            const name = tag_name;

            const { data: release } = await github.rest.repos.createRelease({
              owner,
              repo,
              tag_name,
              name,
              draft: true,
              generate_release_notes: true,
              prerelease: true,
            });

            const release_id = release.id;
            const body = release.body
              .split('\n')
              .filter((line) => !line.includes(' @costellobot '))
              .filter((line) => !line.includes(' @dependabot '))
              .join('\n');

            const { data: updated } = await github.rest.repos.updateRelease({
              owner,
              repo,
              release_id,
              draft,
              body,
            });

            core.notice(`Created release ${updated.name}: ${updated.html_url}`);
